<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to the Application</h1>
    <h3>Fill the Following Form to Register</h3>
<!-- POST Method is used to just to don't show the passwords-->

<form action = "/form" method="post" >    
    Name:<input type = "text" name = "user_name" placeholder= "eg: Bob">  <br>
    Age:<input type = "text"  name ="user_age"placeholder="Age:20"> <br>
    <input type="submit" value = "Register">
    
</form>

</body>
</html>